@import "tailwindcss";
body {
    background-color: black;
    color: white;
    font-family: ps;
}
@font-face {
    font-family: ps;
    src: url(assets/PixelifySans-VariableFont_wght.ttf);
}
@theme {
    --color-purpleN: rgba(96, 33, 210, 1);
}