@import "tailwindcss";
body {
    background-color: black;
    color: white;
    font-family: ps;
}
@font-face {
    font-family: ps;
    src: url(assets/PoorStory-Regular.ttf);
}
@theme {
    --color-purpleN: rgba(162, 116, 241, 0.6);
    --color-purpleO: rgba(162, 116, 241, 0.3);
}